<h3>Welcome to QuotingDojo</h3>
<form id="quoteform" action="" method="post">
    <label>Quote Author: <br><input type="text" name="author" value=""></label><br>
    <label>Quote : <br><textarea name="quote" rows="8" cols="40"></textarea></label><br>
    <input type="submit" name="add" value="Add quote">
</form>
<button id="showquotes" type="button" name="button">Skip to quotes</button>
