<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="./master.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="jquery-ui.js" charset="utf-8"></script>
        <script src="main.js"></script>
        <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAqKSg/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKikoMGopKD/
qKSg/6ikoP+opKDBAAAAAKikoP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACo
pKD/AAAA/wAAAP8AAAD/qKSg/wAAAAAAAAAAqKSg/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAqKSg/wAAAP8AAAD/AAAA/6ikoP8AAAAAAAAAAKikoP+opKD/AAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAKikoP8AAAD/AAAA/wAAAP+opKD/AAAAAAAAAAAAAAAAqKSg/6ikoP8AAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAACopKDBqKSg/wAAAP+opKD/qKSgwQAAAAAAAAAAAAAAAKikoP+o
pKD/qKSg/6ikoP8AAAAAAAAAAAAAAAAAAAAAAAAAAKikoP8AAAD/qKSg/wAAAAAAAAAAAAAAAAAA
AAAAAAAAqKSg/yjj7f8o4+3/KOPt/6ikoP8AAAAAAAAAAKikoMGopKD/qKSg/6ikoP+opKDBAAAA
AAAAAAAAAAAAAAAAAKikoP+opKD/qKSg/6ikoP8o4+3/qKSg/wAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAqKSg/yjj7f8o4+3/KOPt/6ikoP+opKD/AAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKikoP8o4+3/qKSg/6ikoP8o4+3/KOPt/6ik
oP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAqKSg/yjj7f8o4+3/KOPt
/yjj7f+opKD/qKSg/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACopKD/
qKSg/6ikoP+opKD/KOPt/6ikoP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAKikoP8o4+3/KOPt/yjj7f+opKD/qKSg/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAqKSg/6ikoP+opKD/KOPt/6ikoP8AAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAqKSg/6ikoP8o4+3/qKSg/wAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAqKSg/6ikoP+o
pKD/v+AAAL/gAADf4AAAz+AAAOfgAADh8QAA8GAAAPA/AAD4HwAA+A8AAPwHAAD+BwAA/wMAAP+D
AAD/4QAA//gAAA==" rel="icon" type="image/x-icon" />
        <title>Quotes</title>
    </head>
    <body>
        <div class="form"></div>
        <div class="quotes"></div>
        <div class="error"></div>
        <div id="dialog" title="Dialog Title"></div>
    </body>
</html>
